@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS Document */


@font-face {
    font-family: "ArgestaRegular";
    src: url("../fonts/Argesta_Webfont/argestadisplay-regular-webfont.eot");
    src: url("../fonts/Argesta_Webfont/argestadisplay-regular-webfont.eot")
        format("embedded-opentype"),
      url("../fonts/Argesta_Webfont/argestadisplay-regular-webfont.woff")
        format("woff"),
      url("../fonts/Argesta_Webfont/argestadisplay-regular-webfont.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'ArgestaRegular';
}
.title-with-line {
  position: relative;
  display: inline-block;
  padding-bottom: 20px; /* Espacio para la línea */
  font-size: 24px; /* Tamaño del texto del título */
  font-weight: bold;
  background: url("../../assets/images/title-line.png") no-repeat;
  background-position: center bottom;
  background-size: contain; /* Ajusta la imagen para que siempre sea visible */
  width: 280px;
}


  #footer::before {
    transform: translateY(-100px);
    background: gray;
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
  }

